services:
  - type: web
    name: imagine-tool
    runtime: docker
    plan: free
    envVars:
      - key: OPENAI_API_KEY
        sync: false
      - key: OPENAI_BASE_URL
        value: https://api.openai.com/v1
      - key: KLING_ACCESS_KEY
        sync: false
      - key: KLING_SECRET_KEY
        sync: false
